{% extends 'base.html' %}
{% block content %}
    <h1>Question {{ curr_question }} / {{ len_questions }}</h1>
    <br>
    
    <p >{{ question }}</p>
    <br>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.answer.label }} {{ form.answer(size=20) }}
        {{ form.submit() }}
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <br>
    <br>
    <form method="post" action="{{ url_for('questions.next_question') }}">
        <button type="submit">Next Question</button>
    </form>
    
    
{% endblock %}